/* CSS Reset */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

button,
input,
textarea,
select {
  outline: 0;
  border: none;
}

/* Theme */
:root {
  --foreground: #242424;
  --background: #f5f3ff;
  --accent: #646cff;
  --accent-hover: #535bf2;
  --shadow: 36, 36, 36;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f5f3ff;
    --background: #242424;
    --shadow: 245, 243, 255;
  }
}

/* Global and Utility Styles */

body {
  background-color: var(--background);
  color: var(--foreground);
}

a {
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  color: var(--accent);
  font-weight: 600;
}

a:hover {
  color: var(--accent-hover);
  text-decoration: underline;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*Range Reset*/
input[type="range"] {
  cursor: pointer;
  accent-color: var(--accent);
}

input[type="range"]:focus {
  outline: none;
}

::selection {
  background-color: var(--accent);
  color: #f5f3ff;
}

/* Component Styles */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.header .logo img {
  width: 50px;
  height: auto;
}

.header .tagline {
  width: 100%;
  max-width: 500px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: var(--accent);
  color: #f5f3ff;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: var(--accent-hover);
}

.button-github {
  margin-top: 2rem;
}

.perspective-container {
  margin-top: 2rem;
}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.controls-container .controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.controls-container .controls .input-group {
  flex-wrap: wrap;
  min-width: 500px;
  display: flex;
}

.controls-container .controls .input-group label {
  display: block;
  font-weight: 500;
  text-align: left;
  width: max-content;
  flex: 1;
}

.controls-container .button-group {
  display: flex;
  column-gap: 1rem;
  margin-top: 1rem;
}

.button-reset,
.button-copy {
  font-size: 1rem;
  font-weight: 600;
}

.controls-container .controls .input-group input {
  flex: 2;
  margin-left: 1rem;
}

.controls-container .controls .value-container {
  flex: 1;
  text-align: right;
}

.output-container {
  position: relative;
  margin-top: 2rem;
  overflow: scroll;
  border: 1px solid #24242430;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1rem;
  min-height: 400px;
}

.output-container .box {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-color: var(--accent);
  box-shadow: 10px 10px 80px 20px #646cff70;
  perspective: 300px;
  z-index: -1;
}

.value {
  margin-top: 1rem !important;
  background-color: var(--background);
  box-shadow: 0px 0px 50px 0px rgba(var(--shadow), 0.1);
  border-radius: 5px;
  padding: 20px;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
  color: var(--foreground);
  font-weight: 600;
}

.footer {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  display: flex;
  align-items: center;
  gap: 2px;
}

.footer-text span {
  color: red;
  font-size: 18px;
  margin-top: 2px;
}

@media (max-width: 640px) {
  .perspective-container {
    width: 100%;
  }
  .controls-container .controls .input-group {
    min-width: 200px;
    width: 100%;
  }
}
